:root {
    --node-theme-light: #b0bec5;
    --node-theme-dark: #37474f;
}

svg {
    border: 1px solid black;

    g.node-group {
        fill: var(--node-theme-light);
        rect {
            &.node-shape {
                cursor: move;
                rx: .5rem;
            }
            &.node-bar {
                fill: var(--node-theme-dark);
                rx: .25rem;
            }
        }
        
        text {
            font-family: arial !important;
            &.node-name {
                fill: var(--node-theme-dark);
                font-weight: 800;
                cursor: move;
            }
            &.node-pct {
                fill: var(--node-theme-dark);
            }
            &.node-value {
                text-transform: capitalize;
                fill: var(--node-theme-dark);
                font-size: 15px;
                cursor: crosshair;
            }
        }

        line {
            &.node-iqline {
                stroke: #fff;
                stroke-width: 1px;
            }
        }
    }

    line {
        &.edge-line {
            stroke: var(--node-theme-dark);
            stroke-width: 2;
        }
    }
    defs {
        marker {
            path {
                &.edge-head {
                    fill: var(--node-theme-dark);
                }
            }
        }
    }
}